.login-icon {
  cursor: pointer;
  display: inline-block;
}

.login-icon-svg svg {
  stroke: black;
  transition: stroke 0.3s ease;
}

.login-icon:hover .login-icon-svg svg {
  stroke: #007bff; /* example hover color */
}

.login-icon {
    margin-right: 11px; /* move login icon to the left */
}