---
import Layout from '../layouts/Layout.astro';
---

<Layout title="REPLACE_ME_TITLE">
  <div style="display:none;" id="dynamic-title-holder">REPLACE_ME_TITLE</div>
  <div id="dynamic-content-root">
      REPLACE_ME_CONTENT
  </div>
</Layout>
