---
// src/pages/latest.astro
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const allNews = await getCollection('news');
const sortedNews = allNews.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());
const latestPost = sortedNews[0];

let latestUrl = "/";

if (latestPost) {
    const category = (latestPost.data.tags && latestPost.data.tags.length > 0) ? latestPost.data.tags[0] : 'general';
    latestUrl = `/news/${category}/${latestPost.id}`;
}
---

<Layout title="Loading Latest Article...">
    <style is:inline>
        .latest-loader {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 60vh;
        }
        .spinner {
            border: 3px solid #f3f3f3;
            border-top: 3px solid #0073e6;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 0.8s linear infinite;
        }
        @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
    </style>

    <div class="latest-loader">
        <div class="spinner"></div>
    </div>

    <script is:inline define:vars={{ latestUrl }}>
        if (typeof Turbo !== 'undefined') {
            Turbo.visit(latestUrl, { action: "replace" });
        } else {
            window.location.replace(latestUrl);
        }
    </script>
</Layout>
